@font-face {
  font-family: "RobotoMono";
  src: url("./fonts/RobotoMono-Thin.ttf");
}

* {
  font-family: "robotoMono", monospace;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  texto-align: center;

  color: rgb(124, 0, 0);
  background: linear-gradient(
    to bottom,
    rgb(253, 254, 255),
    rgb(197, 197, 197)
  );
}
